<% @products.each do |product| %>
  <%= render partial: "product", locals: {product: product} %>
<% end %>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    $(`.js-more[data-id=${id}]`).remove()
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      // Replace text of body-id div
      $("#description-" + id).text(data)
    });
    $.get("/products/" + id + "/inventory", function(data) {
      if (data === "true") {
        $("#description-" + id).append('<p>Available</p>')
      } else if (data === "false") {
        $("#description-" + id).append('<p>Out of Stock</p>')
      }
    });
  });
});
</script>
